/ObjectSerializer.userprefs
/ObjectSerializer/bin/Debug/Fasterflect.dll
/ObjectSerializer/bin/Debug/ObjectSerializer.dll
/ObjectSerializer/bin/Debug/ObjectSerializer.dll.mdb
/TestSerializer/bin/Debug/Fasterflect.dll
/TestSerializer/bin/Debug/ObjectSerializer.dll
/TestSerializer/bin/Debug/ObjectSerializer.dll.mdb
/TestSerializer/bin/Debug/TestSerializer.exe
/TestSerializer/bin/Debug/TestSerializer.exe.mdb
/TestSerializer/bin/Debug/nunit.framework.dll
