/TestSerializer/bin/Release/protobuf-net.dll
/ObjectSerializer/bin/Debug/Serialize.Linq.dll
/TestSerializer/bin/Debug/Serialize.Linq.dll
/TestSerializer/bin/Release/output.mlpd
/ObjectSerializer/bin/Release/Serialize.Linq.dll
/TestSerializer/bin/Release/Serialize.Linq.dll
/ObjectSerializer/bin/Release/Fasterflect.dll
/ObjectSerializer/bin/Release/ObjectSerializer.dll
/ObjectSerializer/bin/Release/ObjectSerializer.dll.mdb
/TestSerializer/bin/Debug/Newtonsoft.Json.dll
/TestSerializer/bin/Release/Fasterflect.dll
/TestSerializer/bin/Release/Newtonsoft.Json.dll
/TestSerializer/bin/Release/ObjectSerializer.dll
/TestSerializer/bin/Release/TestSerializer.exe
/TestSerializer/bin/Release/TestSerializer.exe.mdb
/TestSerializer/bin/Release/nunit.framework.dll
/ObjectSerializer.userprefs
/ObjectSerializer/bin/Debug/Fasterflect.dll
/ObjectSerializer/bin/Debug/ObjectSerializer.dll
/ObjectSerializer/bin/Debug/ObjectSerializer.dll.mdb
/TestSerializer/bin/Debug/Fasterflect.dll
/TestSerializer/bin/Debug/ObjectSerializer.dll
/TestSerializer/bin/Debug/ObjectSerializer.dll.mdb
/TestSerializer/bin/Debug/TestSerializer.exe
/TestSerializer/bin/Debug/TestSerializer.exe.mdb
/TestSerializer/bin/Debug/nunit.framework.dll
